<form autocomplete="off">
    <p class="notes">{{localize "MCT.Settings.Tabs.Hint"}}</p>
    
    <ol class="tab-list">
        {{#each tabs}}
        <li class="form-group tab-item" data-tab-id="{{this.id}}">
            <div class="mct-tab-row">
                <i class="fas fa-bars drag-handle"></i>
                <span class="tab-label">{{this.label}}</span>
                <a class="edit-tab" title="{{localize 'MCT.EditTab.Title'}}"><i class="fas fa-cog"></i></a>
                <a class="delete-tab" title="{{localize 'MCT.DeleteTab.Title'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

    <div class="form-group">
        <button type="button" class="add-tab">
            <i class="fas fa-plus"></i> {{localize "MCT.Settings.AddTab"}}
        </button>
    </div>
</form>